---
description: ""
pageImageWebPath: "/assets/img/logos/KCL-square.svg"
title: BCC
---
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <!-- Built with 11ty - {{ "now" | date: "%Y-%m-%d %H:%M" }} -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="King's Digital Lab, King's College London">
    <meta name="description" content="{{ description }}">
    {% comment %} 
      TODO: override the og: for individual pages (.e.g blog posts will have its own image, desc)
      TODO: Add twitter meta?
    {% endcomment %}
    <meta property="og:image" content="{{ metadata.live_domain }}{{ pageImageWebPath }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">


    <title>{{ title }} | {{ metadata.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}?ts={{ "now" | date: "%s" }}">
    <link rel="stylesheet" href="{{ '/assets/node_modules/leaflet/dist/leaflet.css' | url }}"  />
    <link rel="stylesheet" href="{{ '/assets/node_modules/leaflet-dvf/dist/css/dvf.css' | url }}"  />    
    <script src="{{ '/assets/js/navbar-toggle.js' | url }}?ts={{ "now" | date: "%s" }}"></script>
  </head>
  <body class="{{ body_class }}">
    {% include "header.html" %}

    {{ content }}
    {% include "footer.html" %}
  </body>
  <script>
//*** Active class on menu when in section ***//
// Get all sections that have an ID defined
const sections = document.querySelectorAll("[id]");

// Add an event listener listening for scroll
window.addEventListener("scroll", navHighlighter);

function navHighlighter() {
  // Get current scroll position
  let scrollY = window.pageYOffset;

  // Now we loop through sections to get height, top and ID values for each
  sections.forEach((current) => {
    const sectionHeight = current.offsetHeight;
    const sectionTop = current.offsetTop - 150;
    sectionId = current.getAttribute("id");

    /*
    - If our current scroll position enters the space where current section on screen is, add .active class to corresponding navigation link, else remove it
    - To know which link needs an active class, we use sectionId variable we are getting while looping through sections as an selector
    */
    if (scrollY > sectionTop && scrollY <= sectionTop + sectionHeight) {
      document
        .querySelectorAll("ol a[href*=" + sectionId + "]")
        .forEach((el) => el.classList.add("active"));
    } else { 
      document //*** END Active class on menu when in section ***//
        .querySelectorAll("ol a[href*=" + sectionId + "]")
        .forEach((el) => el.classList.remove("active"));
    }
  });
}


  </script>
</html>
