---
layout: base.liquid
---


<input id="pagenav-toggle" type="checkbox"/>
<nav id="pagenav" tabindex="0">
    <ol>
        <li><a href="overview">Overview</a></li>
        <li><a href="stories">Stories</a></li>
        <ol>
            <li><a href="{{ "../" | url }}">Introduction</a></li>
            {% for story in collections.stories %}
                <li><a href="{{ story.url | url }}">{{ story.data.title }}</a></li>
                <ol>
                    {% for section in story.data.sections %}
                        <li><a href="{{ story.url | url }}#{{ section | slugify }}">{{ section }}</a></li>
                    {% endfor %}
                </ol>
            {% endfor %}
        </ol>
        <li><a href="explore">Explore</a></li>
    </ol>
</nav>
<main>
    <label role="region" aria-label="pagenavigation" for="pagenav-toggle" id="pagenav-label">Page Navigation</label>
    <div id="basemap" class="basemap">
        <div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);"><div class="leaflet-pane leaflet-tile-pane"><div class="leaflet-layer " style="z-index: 1; opacity: 1;"><div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 18; transform: translate3d(0px, 319px, 0px) scale(1);"><img alt="" src="https://b.tile.openstreetmap.org/1/1/0.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(77px, 0px, 0px); opacity: 1;"><img alt="" src="https://a.tile.openstreetmap.org/1/0/0.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-179px, 0px, 0px); opacity: 1;"><img alt="" src="https://a.tile.openstreetmap.org/1/0/0.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(333px, 0px, 0px); opacity: 1;"><img alt="" src="https://c.tile.openstreetmap.org/1/1/1.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(77px, 256px, 0px); opacity: 1;"><img alt="" src="https://b.tile.openstreetmap.org/1/0/1.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-179px, 256px, 0px); opacity: 1;"><img alt="" src="https://b.tile.openstreetmap.org/1/0/1.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(333px, 256px, 0px); opacity: 1;"></div></div><div class="leaflet-layer " style="z-index: 1; opacity: 0.85;"><div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 11; transform: translate3d(0px, 319px, 0px) scale(1);"><img alt="" src="https://cawm.lib.uiowa.edu/tiles/1/1/0.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(77px, 0px, 0px); opacity: 1;"><img alt="" src="https://cawm.lib.uiowa.edu/tiles/1/0/0.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-179px, 0px, 0px); opacity: 1;"><img alt="" src="https://cawm.lib.uiowa.edu/tiles/1/0/0.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(333px, 0px, 0px); opacity: 1;"><img alt="" src="https://cawm.lib.uiowa.edu/tiles/1/1/1.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(77px, 256px, 0px); opacity: 1;"><img alt="" src="https://cawm.lib.uiowa.edu/tiles/1/0/1.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-179px, 256px, 0px); opacity: 1;"><img alt="" src="https://cawm.lib.uiowa.edu/tiles/1/0/1.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(333px, 256px, 0px); opacity: 1;"></div></div></div><div class="leaflet-pane leaflet-overlay-pane"></div><div class="leaflet-pane leaflet-shadow-pane"></div><div class="leaflet-pane leaflet-marker-pane"></div><div class="leaflet-pane leaflet-tooltip-pane"></div><div class="leaflet-pane leaflet-popup-pane"></div><div class="leaflet-proxy leaflet-zoom-animated" style="transform: translate3d(398px, 214.012px, 0px) scale(1);"></div></div>

    </div>
    <article  tabindex="0">
        <h2>{{ title }}</h2>
        {{ content }}
    </article>

    <script type="text/javascript" src="{{ '/assets/node_modules/leaflet/dist/leaflet.js' | url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/leaflet/plugins/L.Control.Appearance.js' | url }}"></script>

    <script>
        var overlay;

        function init() {
            var mapBounds = new L.LatLngBounds(
                new L.LatLng(-85.051129, -180),
                new L.LatLng(85.051129, 180));
            var mapMinZoom = 1;
            var mapMaxZoom = 11;
            var map = L.map('basemap').setView([28.297178, 99.84375], 1);
            //L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
            overlay = L.tileLayer('https://cawm.lib.uiowa.edu/tiles/{z}/{x}/{y}.png', {
                minZoom: mapMinZoom, maxZoom: mapMaxZoom,
                bounds: mapBounds,
                opacity: 1
            }).addTo(map);
        }
        init();
    </script>
</main>
