---
layout: base.liquid
---

<div id="basemap"></div>
<div class="mapOverlay">
    <nav>
        <ol>
            <li><a href="#overview">Overview</a></li>
            <li><a href="#s-1">1<span>Introduction</span></a></li>
            <li><a href="#s-2">2<span>Homelands</span></a></li>
            <li><a href="#s-3">3<span>Pathways</span></a></li>
            <li><a href="#s-4">4<span>Villagers, Settlers</span></a></li>
            <li><a href="#s-5">5<span>Lines</span></a></li>
            <li><a href="#filters">Explore </a></li>
        </ol>
    </nav>
    <section id="overview">
        <article class="storyTitle">
            <h2>Overview</h2>
        </article>
        <article>
            <p>Lorem ipsum dolor sit amet. Qui labore dolores qui dolores aperiam aut nihil tenetur qui cumque ipsa qui
                possimus neque et tenetur velit eos quisquam expedita. Et maxime voluptatum eum laudantium officiis eos
                nihil quae et sint inventore qui voluptatum consequatur? Sed consequuntur quia non accusamus
                perspiciatis qui deserunt porro.</p>
        </article>
        <article>
            <p>At dolor distinctio aut omnis beatae ut numquam omnis qui voluptatem iure. Sit minus similique eum
                internos modi a velit eaque et fugiat aliquid ut iste quia qui accusantium tempora in harum sunt. Non
                repellat consequatur qui nostrum excepturi et earum error. Qui obcaecati dolor in quae voluptas quo
                voluptas distinctio sit delectus assumenda non sint autem.</p>
            <p>Ut voluptatem quae qui reprehenderit rerum eos numquam saepe sit exercitationem animi sit repellat dicta.
                Ut error voluptatem qui eveniet quibusdam eos unde assumenda aut dolor accusantium est iure aliquam eos
                eligendi expedita aut minima voluptatem.</p>
        </article>
    </section>
    <section id="s-1">
        <article class="storyTitle">
            <h2>Introduction</h2>
        </article>
        {% renderFile "./stories/introduction.md", "liquid" %}
    </section>
    <section id="s-2">
        <article class="storyTitle">
            <h2>Homelands</h2>
        </article>
        {% renderFile "./stories/homelands.md", "liquid" %}
    </section>
    <section id="s-3">
        <article class="storyTitle">
            <h2>Pathways</h2>
        </article>
        {% renderFile "./stories/pathways.md", "liquid" %}
    </section>
    <section id="s-4">
        <article class="storyTitle">
            <h2>Villagers, Settlers</h2>
        </article>
        {% renderFile "./stories/villagers_settlers.md", "liquid" %}
    </section>
    <section id="s-5">
        <article class="storyTitle">
            <h2>Lines</h2>
        </article>
        {% renderFile "./stories/lines.md", "liquid" %}
    </section>


    <section id="filters">
        <article class="storyTitle">
            <h2>Explore</h2>
        </article>
        <article>
            <p>Use the filters below to customise your search. There are 3 categories; maps, feature and people.
                Click </p>
        </article>
        <article>
            <div class="map-filters">
                <h2> Map filters</h2>
                <ul>
                    <li><input type="checkbox" id="checkbox1"/>
                        <label for="checkbox1">
                            <h3>White</h3>
                            <img src="https://accessgenealogy.com/wp-content/uploads/2011/07/1755-Mitchell-Map-3-1080x763.jpg"/>
                            <p>1590</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox2"/>
                        <label for="checkbox2">
                            <h3>Bleau</h3><img
                                    src="https://i5.walmartimages.com/asr/a38e5625-1031-479a-9b35-266e586ecd52_3.bbdfa3a052b52f8616bc011236bc4f31.jpeg"/>
                            <p>1650</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox3"/>
                        <label for="checkbox3">
                            <h3>Seller</h3>
                            <img src="https://i.ebayimg.com/images/g/ojsAAOSwNEVdXw0v/s-l1600.jpg"/>
                            <p>1676</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox4"/>
                        <label for="checkbox4">
                            <h3>Foster</h3>
                            <img src="https://accessgenealogy.com/wp-content/uploads/2011/07/1755-Mitchell-Map-3-1080x763.jpg"/>
                            <p>1677</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox5"/>
                        <label for="checkbox5">
                            <h3>Moll</h3><img
                                    src="https://i5.walmartimages.com/asr/a38e5625-1031-479a-9b35-266e586ecd52_3.bbdfa3a052b52f8616bc011236bc4f31.jpeg"/>
                            <p>1720</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox6"/>
                        <label for="checkbox6">
                            <h3>Burghers</h3>
                            <img src="https://i.ebayimg.com/images/g/ojsAAOSwNEVdXw0v/s-l1600.jpg"/>
                            <p>1738</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox7"/>
                        <label for="checkbox7">
                            <h3>Burghers</h3>
                            <img src="https://accessgenealogy.com/wp-content/uploads/2011/07/1755-Mitchell-Map-3-1080x763.jpg"/>
                            <p>1738</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox8"/>
                        <label for="checkbox8">
                            <h3>Evans</h3><img
                                    src="https://i5.walmartimages.com/asr/a38e5625-1031-479a-9b35-266e586ecd52_3.bbdfa3a052b52f8616bc011236bc4f31.jpeg"/>
                            <p>1752</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox9"/>
                        <label for="checkbox9">
                            <h3>Herbert</h3>
                            <img src="https://i.ebayimg.com/images/g/ojsAAOSwNEVdXw0v/s-l1600.jpg"/>
                            <p>1755</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox10"/>
                        <label for="checkbox10">
                            <h3>Moll</h3>
                            <img src="https://accessgenealogy.com/wp-content/uploads/2011/07/1755-Mitchell-Map-3-1080x763.jpg"/>
                            <p>1755</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox11"/>
                        <label for="checkbox11">
                            <h3>Mitchell</h3><img
                                    src="https://i5.walmartimages.com/asr/a38e5625-1031-479a-9b35-266e586ecd52_3.bbdfa3a052b52f8616bc011236bc4f31.jpeg"/>
                            <p>1755</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox12"/>
                        <label for="checkbox12">
                            <h3>Bowen</h3>
                            <img src="https://i.ebayimg.com/images/g/ojsAAOSwNEVdXw0v/s-l1600.jpg"/>
                            <p>1772</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox13"/>
                        <label for="checkbox13">
                            <h3>Jefferys</h3>
                            <img src="https://accessgenealogy.com/wp-content/uploads/2011/07/1755-Mitchell-Map-3-1080x763.jpg"/>
                            <p>1774</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox14"/>
                        <label for="checkbox14">
                            <h3>Hutchins</h3><img
                                    src="https://i5.walmartimages.com/asr/a38e5625-1031-479a-9b35-266e586ecd52_3.bbdfa3a052b52f8616bc011236bc4f31.jpeg"/>
                            <p>1778</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox15"/>
                        <label for="checkbox15">
                            <h3>Cary</h3>
                            <img src="https://i.ebayimg.com/images/g/ojsAAOSwNEVdXw0v/s-l1600.jpg"/>
                            <p>1783</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox16"/>
                        <label for="checkbox16">
                            <h3>Buell</h3>
                            <img src="https://accessgenealogy.com/wp-content/uploads/2011/07/1755-Mitchell-Map-3-1080x763.jpg"/>
                            <p>1784</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox17"/>
                        <label for="checkbox17">
                            <h3>Russell</h3><img
                                    src="https://i5.walmartimages.com/asr/a38e5625-1031-479a-9b35-266e586ecd52_3.bbdfa3a052b52f8616bc011236bc4f31.jpeg"/>
                            <p>1794</p>
                        </label>
                    </li>
                    <li><input type="checkbox" id="checkbox18"/>
                        <label for="checkbox18">
                            <h3>Bradley</h3>
                            <img src="https://i.ebayimg.com/images/g/ojsAAOSwNEVdXw0v/s-l1600.jpg"/>
                            <p>1796</p>
                        </label>
                    </li>

                </ul>
            </div>

            <div class="filter">
                <h2>Filter</h2>
                <table>
                    <tbody>
                    <tr>
                        <th>Features</th>
                        <th>People</th>
                    </tr>
                    <tr>
                        <td>
                            <legend>Border</legend>
                        </td>
                        <td>
                            <fieldset>
                                <div class="checkbox column">
                                    <input id="border-i" type="checkbox" name="border" value="indigenous">
                                    <label for="border-i">Indigenous</label>
                                    <input id="border-e" type="checkbox" name="border" value="european">
                                    <label for="border-e">European</label>
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <legend>Settlement</legend>
                        </td>
                        <td>
                            <fieldset>
                                <div class="checkbox column">
                                    <input id="settlement-i" type="checkbox" name="border2" value="indigenous">
                                    <label for="settlement-i">Indigenous</label>
                                    <input id="settlement-e" type="checkbox" name="border2" value="european">
                                    <label for="settlement-e">European</label>
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <legend>Land Route</legend>
                        </td>
                        <td>
                            <fieldset>
                                <div class="checkbox column">
                                    <input id="land-i" type="checkbox" name="border2" value="indigenous">
                                    <label for="land-i">Indigenous</label>
                                    <input id="land-e" type="checkbox" name="border2" value="european">
                                    <label for="land-e">European</label>
                                </div>
                            </fieldset>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <legend>Sea Route</legend>
                        </td>
                        <td>
                            <fieldset>
                                <div class="checkbox column">
                                    <input id="sea-i" type="checkbox" name="border2" value="indigenous">
                                    <label for="sea-i">Indigenous</label>
                                    <input id="sea-e" type="checkbox" name="border2" value="european">
                                    <label for="sea-e">European</label>
                                </div>
                            </fieldset>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <legend>River Route</legend>
                        </td>
                        <td>
                            <fieldset>
                                <div class="checkbox column">
                                    <input id="river-i" type="checkbox" name="border2" value="indigenous">
                                    <label for="river-i">Indigenous</label>
                                    <input id="river-e" type="checkbox" name="border2" value="european">
                                    <label for="river-e">European</label>
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <legend>All features</legend>
                        </td>
                        <td>
                            <fieldset>
                                <div class="checkbox column">
                                    <input id="all-i" type="checkbox" name="border2" value="indigenous">
                                    <label for="all-i">Indigenous</label>
                                    <input id="all-e" type="checkbox" name="border2" value="european">
                                    <label for="all-e">European</label>
                                </div>
                            </fieldset>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h2>List of Features</h2>
                <ul class="drawer-accordion" role="navigation">
                    <li>
                        <input id="group-1" type="checkbox" hidden/>
                        <label for="group-1" class="check"> Borders</label>
                        <ul class="group-list">
                            <li><a href="#">Border A</a></li>
                            <li><a href="#">Border B</a></li>
                            <li><a href="#">Border C</a></li>
                            <li><a href="#">Border D</a></li>
                            <li><a href="#">Border E</a></li>
                            <li><a href="#">Border F</a></li>
                            <li><a href="#">Border G</a></li>
                            <li><a href="#">Border H</a></li>
                        </ul>
                    </li>
                    <li>
                        <input id="group-2" type="checkbox" hidden/>
                        <label for="group-2" class="check"> Settlements</label>
                        <ul class="group-list">

                            <li><a href="#">1st level item</a></li>
                            <li><a href="#">1st level item</a></li>
                            <li>
                                <input id="sub-group-2" type="checkbox" hidden/>
                                <label for="sub-group-2" class="check">Second level</label>
                                <ul class="sub-group-list">
                                    <li><a href="#">2nd level nav item</a></li>
                                    <li><a href="#">2nd level nav item</a></li>
                                    <li>
                                        <input id="sub-sub-group-2" type="checkbox" hidden/>
                                        <label for="sub-sub-group-2" class="check"> Third level</label>
                                        <ul class="sub-sub-group-list">
                                            <li><a href="#">3rd level nav item</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <input id="group-3" type="checkbox" hidden/>
                        <label for="group-3" class="check">Routes</label>
                        <ul class="group-list">
                            <li><a href="#">1st level item</a></li>
                            <li><a href="#">1st level item</a></li>
                            <li>
                                <input id="sub-group-3" type="checkbox" hidden/>
                                <label for="sub-group-3" class="check"> Second level</label>
                                <ul class="sub-group-list">
                                    <li><a href="#">2nd level nav item</a></li>
                                    <li><a href="#">2nd level nav item</a></li>
                                    <li><a href="#">2nd level nav item</a></li>
                                    <li>
                                        <input id="sub-sub-group-3" type="checkbox" hidden/>
                                        <label for="sub-sub-group-3" class="check"> Third level</label>
                                        <ul class="sub-sub-group-list">
                                            <li><a href="#">3rd level nav item</a></li>
                                            <li><a href="#">3rd level nav item</a></li>
                                            <li><a href="#">3rd level nav item</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </article>
    </section>
</div>


<script defer type="text/javascript" src="{{ '/assets/node_modules/leaflet/dist/leaflet.js' | url }}"></script>
<script defer type="text/javascript" src="{{ '/assets/node_modules/leaflet-dvf/dist/leaflet-dvf.js' | url }}"></script>
<script defer type="text/javascript" src="{{ '/assets/js/leaflet/plugins/leaflet.textpath.js' | url }}"></script>

<script defer type="module" src="{{ '/assets/js/storymap.js' | url }}"></script>
<script defer type="module" src="{{ '/assets/js/main.js' | url }}"></script>
<script>
    // Styles in here so can be moved out easily into separate file

    // line Styles

    lineBorderStyle = {stroke: true, dashArray: "3 6", lineCap: "square", color: '#000000', weight: 2.5, fill: false};
    lineLandRouteStyle = {
        stroke: true,
        dashArray: "7 6",
        lineCap: "square",
        lineJoin: "arcs",
        color: '#808080',
        weight: 3,
        fill: false
    };
    lineSeaRouteStyle = {
        stroke: true,
        dashArray: "7 6",
        lineCap: "square",
        lineJoin: "arcs",
        color: '#ffbd59',
        weight: 3,
        fill: false
    };
    lineRiverRouteStyle = {
        stroke: true,
        //smoothFactor:10,
        dashArray: "7 9",
        color: '#00c2cb',
        lineCap: "square",
        lineJoin: "round",
        weight: 2,
        fill: false,
        opacity: 0.1
    };
    lineRiverRouteStyleLabel = {
        stroke: true,
        smoothFactor: 15,
        dashArray: "7 9",
        color: '#000000FF',
        lineCap: "square",
        lineJoin: "round",
        weight: 2,
        fill: false
    };
    lineMiscStyle = {stroke: true, color: '#ffff00', weight: 4, fill: false};
    lineToponymStyle = {stroke: true, color: '#ff0000', weight: 5, fill: false};

    // Poly Styles
    polyBorderStyle = {
        stroke: true,
        dashArray: '4 6',
        color: "#000000",
        fillColor: '#000000',
        lineCap: "square",
        weight: 2,
        fill: true,
        opacity: 0.5,
        fillOpacity: 0.25
    };
    polySettlementStyle = {
        stroke: true,
        dashArray: "2 6",
        lineCap: "square",
        lineJoin: "arcs",
        color: "#ff0000",
        fillColor: '#ff0000',
        weight: 2,
        fill: true,
        opacity: 0.75,
        fillOpacity: 0.5
    };
    polySeaRouteStyle = {
        stroke: true,
        dashArray: "7 6",
        lineCap: "square",
        lineJoin: "arcs",
        color: "#ffbd59",
        fillColor: '#ffbd59',
        weight: 2,
        fill: true,
        opacity: 0.75,
        fillOpacity: 0.5
    };
    polyDescriptiveStyle = {stroke: true, fillColor: '#ff0000', weight: 1, fill: true, opacity: 0.5, fillOpacity: 0.5};

    polyRiverRouteStyle = {
        stroke: true,
        dashArray: "7 6",
        lineCap: "square",
        lineJoin: "arcs",
        color: "#00c2cb",
        fillColor: '#00c2cb',
        weight: 2,
        fill: true,
        opacity: 0.75,
        fillOpacity: 0.5
    };
    polyMiscStyle = {stroke: true, fillColor: '#ff0000', weight: 1, fill: true, opacity: 0.5, fillOpacity: 0.5};
    polyNativeStyle = {stroke: true, fillColor: '#ff0000', weight: 1, fill: true, opacity: 0.5, fillOpacity: 0.5};
    polyEuroStyle = {stroke: true, fillColor: '#00ff00', weight: 1, fill: true, opacity: 0.5, fillOpacity: 0.5};
    polyAnnoStyle = {
        stroke: true,
        dashArray: "10 10",
        lineCap: "square",
        lineJoin: "arcs",
        color: "#808080",
        fillColor: '#808080',
        weight: 1,
        fill: true,
        opacity: 1,
        fillOpacity: 0.5
    };
    polyToponymStyle = {
        stroke: true,
        dashArray: "7 6",
        lineCap: "square",
        lineJoin: "arcs",
        color: "#ff0000",
        fillColor: '#ff0000',
        weight: 1,
        fill: true,
        opacity: 0.5,
        fillOpacity: 0.5
    };
    // Harry Styles

    //

    // Map lookup
    mapLookup = {
        "1": "White, 1590",
        "2": "Bleau, 1650",
        "3": "Seller, 1676",
        "4": "n/a",
        "5": "Foster, 1677",
        "6": "Moll, 1720",
        "7": "Burghers, 1738",
        "8": "Evans, 1752",
        "9": "n/a",
        "10": "Herbert, 1755",
        "11": "Moll, 1755",
        "12": "Mitchell, 1755",
        "13": "Bowen, 1772",
        "14": "Jeffreys, 1774",
        "15": "Hutchins, 1778",
        "16": "Cary,  1783",
        "17": "Buell, 1784",
        "18": "Russell, 1794",
        "19": "Bradley, 1796"
    }


</script>


<script>

    let startLat = {{ bounds[0].lat }};
    let startLng = {{ bounds[0].lng }};
    let startZoom = {{ bounds[0].zoom }};

    let storyURIs = {
        storyFrame: "{{ '/assets/json/BCC_storyframe.json' | url }}",
        slides: "{{ '/assets/json/BCC_slides.json' | url }}",
        lines: "{{ '/assets/json/BCC_lines.json' | url }}",
        points: "{{ '/assets/json/BCC_points.json' | url }}",
        polys: "{{ '/assets/json/BCC_polys.json' | url }}",
        indigenous: "{{ '/assets/json/indigenous_territories.json' | url }}",
    }


</script>
