---
layout: base.liquid
---


<input id="pagenav-toggle" type="checkbox"/>
<nav id="pagenav" tabindex="0">
    <ol>
        <li><a href="overview">Overview</a></li>
        <li><a href="stories">Stories</a></li>
        <ol>
            <li><a href="{{ "../" | url }}">Introduction</a></li>
            {% for story in collections.stories %}
                <li><a href="{{ story.url | url }}">{{ story.data.title }}</a></li>
                <ol>
                    {% for section in story.data.sections %}
                        <li><a href="{{ story.url | url }}#{{ section | slugify }}">{{ section }}</a></li>
                    {% endfor %}
                </ol>
            {% endfor %}
        </ol>
        <li><a href="explore">Explore</a></li>
    </ol>
</nav>
<main>
    <label role="region" aria-label="pagenavigation" for="pagenav-toggle" id="pagenav-label">Page Navigation</label>
    <div id="basemap" class="basemap">

    </div>
    <article tabindex="0">
        <h2>{{ title }}</h2>
        {{ content }}
    </article>
    <script src="{{ '/assets/node_modules/leaflet/dist/leaflet.js' | url }}"></script>
    <script src="{{ '/assets/js/leaflet/plugins/L.Control.Appearance.js' | url }}"></script>

    <script>
        let map = L.map("basemap");
        let osm = new L.TileLayer(
            "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
        ).addTo(map);
    </script>
</main>
